.calendar-wrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
}


.react-calendar {
  width: 300px;
  background: white;
  border-radius: 1rem;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 1rem;
}


.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 16px;
  margin-bottom: 0;
  border-bottom: 2px solid #B3B3B3;
}


.react-calendar__navigation__label {
  order: 2;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
}


.react-calendar__navigation__prev-button {
  order: 1;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-right: 0 !important;
}

.react-calendar__navigation__next-button {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding-left: 0 !important;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  background-color: #CD7B60 !important;
  border: none !important;
  padding: 0.4rem 0.5rem !important;
  font-weight: bold !important;
}

.react-calendar__navigation button {
  color: #1B1B1B;
  border: none;
  border-radius: 8px;
  padding: 0;
  font-weight: bold;
  min-width: 28px !important;
}


.calendar-title {
  font-weight: bold !important;
  font-size: 24px !important;
  letter-spacing: 1.5px !important;
  color: #333;
  flex: 1;
  text-align: left;
  padding-left: 0.5rem;
  text-transform: capitalize;
}


.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  color: #444;
  text-decoration: none !important;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
  color: #B3B3B3;
}


.react-calendar__tile {
  text-align: center;
  padding: 0.6rem 0;
  background: none;
  border-radius: 8px;
  transition: 0.3s;
}

.react-calendar__tile--now {
  color: #1B1B1B;
  border: 2px solid #CD7B60 !important;
  font-weight: bold !important;
  border-radius: 8px !important;
}

.react-calendar__tile--active {
  background-color: #CD7B60 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 8px !important;
}

.selected-day {
  border: 2px solid #dd6b4d;
  color: #dd6b4d;
  font-weight: bold;
  border-radius: 8px;
}

